body{
    background-image: url("kunkka.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    font-family: sans-serif;
    color: red

}

form{
			width: 230px; 
            background-color: cyan;
            text-align: center;
            position: absolute;
            margin-top: -300px;
            margin-left: -500px;
            left: 50%;
            top: 50%;
 }

